body {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

/* Typography */
body {
    font-family: Apercu, Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.2em;
}
/* Lists */
ul li,
ol li {
    line-height: 1.5em;
}

ol li.active,
ol li.clicked {
    font-weight: bold;
    color: slategray;
}

/* Headings */
h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.75rem;
}

h3 {
    font-size: 1.5rem;
}

/* Element styles */

/** Header **/
header {
    margin: 24px 0 48px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

nav {
    line-height: 24px;
    font-size: 0.8em;
    text-transform: uppercase;
}

nav a {
    color: inherit;
    text-decoration: none;
}

nav > :not(:last-child):after {
    content: ' --- ';
    color: #ec7b1a;
}

/** Radar **/

#radar svg {
    min-width: 300px;
}

.tech-circle text,
.tech-circle circle {
    cursor: pointer;
    font-size: 0.8rem;
    transition: 0.25s ease-in-out;
}

.tech-circle.active text,
.tech-circle.active circle,
.tech-circle.clicked text,
.tech-circle.clicked circle {
    transform: scale(2);
}

#radar svg {
    min-width: 300px;
}

#radar .legend a {
    color: inherit;
    text-decoration: none;
}

/* COLORS */
.color-1 {
    color: #868e96;
    fill: #868e96;
    stroke:  #868e96;
}

.color-2 {
    color: #ec7b1a;
    fill: #ec7b1a;
    stroke: #ec7b1a;
}

.color-3 {
    color: #fadceb;
    fill: #fadceb;
    stroke: #fadceb;
}

.color-4 {
    color: #a5c5e8;
    fill: #a5c5e8;
    stroke: #a5c5e8;
}

.color-5 {
    color: #847575;
    fill: #847575;
    stroke: #847575;
}

@media (min-width: 1000px) {
    /* Element styles */
    #radar {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
        height: 80vh;
        grid-column-gap: 20px;

    }

    #radar #radarChart {
        grid-row: 1 / span 2;
        grid-column: 2;
        justify-self: center;
        align-self: center;
        min-width: 500px;
        max-height: 100%;
    }

    #radar .legend-0 {
        grid-column: 1;
        grid-row: 1;
    }

    #radar .legend-1 {
        grid-column: 3;
        grid-row: 1;
    }

    #radar .legend-2 {
        grid-column: 3;
        grid-row: 2
    }

    #radar .legend-3 {
        grid-column: 1;
        grid-row: 2;
    }
}
