body {
    margin: 0 auto;
    max-width: 900px;
    font-family: sans-serif;
    font-size: 130%;
    line-height: 1.5rem;
}

/* Lists */
ul,
ol {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

ul li,
ol li {
  line-height: 1.8rem;
}

ul li,
ol li.active,
ol li.clicked{
    color: red;
    font-size: 1.5rem;
}

/* Headings */
h1,
h2,
h3 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

h1 {
  font-size: 4.25rem;
  line-height: 4.5rem;
  margin-top: 3rem;
}
h2 {
  font-size: 2.75rem;
  line-height: 3rem;
  margin-top: 3rem;
}
h3 {
  font-size: 1.5rem;
}

/* Element styles */
.container {
    display: grid;
    grid-template-columns: 250px auto;
}

#radar .dot {
    font-size: 0.8rem;
    cursor: pointer;
}

.tech-circle text {
    cursor: pointer;
}

.tech-circle text,
.tech-circle circle {
    transition: 0.25s ease-in-out;
}

.tech-circle.active text,
.tech-circle.active circle {
    transform: scale(2);
}

.tech-circle.clicked text,
.tech-circle.clicked circle {
    transform: scale(2);
}

.legend-integration {
    grid-column-start: 1;
    grid-row:2;
}
.legend-frontend {
     grid-column-start: 3;
}
.legend-backend {
    grid-column-start: 3;
}
.legend-plattform {
    grid-column-start: 1;
    grid-row:1;
}
#radar {
    grid-column-start: 2;
    grid-row: 1 / span 2;
}


#radar .axisLabel {
}

@media (max-width: 1100px) {
    .legend-integration {
        grid-column-start: 1;
        grid-row:3;
    }
    .legend-frontend {
        grid-column-start: 1;
        grid-row:4;
    }
    .legend-backend {
        grid-column-start: 1;
        grid-row:5;
    }
    .legend-plattform {
        grid-column-start: 1;
        grid-row:6;
    }
    #radar {
        grid-column-start: 1;
        grid-row: 1;
    }
}